@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eee;
}

@media (min-width: 915px) {
    .image-flower {
      width: 435px;
      height: 300px;
    }

    .input-idea:focus {
      outline: none;
      border: 1px solid rgb(167, 167, 167);
    }
}